streamlit==1.22.0
pandas
scikit-learn==1.6.1
spacy==3.6.1
pytesseract==0.3.10
Pillow
faiss-cpu==1.7.4
joblib
numpy<2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
